extends overview

block content 
    h1= `Welcome, `

        h2 Create a blog: 
            form#post
                label.form__label(for='message') Your post
                textarea(type='text', required)  
                button.btn.btn--green Post

        each blog in blogs
            p ______________________________________________ 
            h3 Post:
            h3= blog.message
            h4= `Author: ${blog.user.name}, ${blog.user.email}`
            button#edit  Edit message 
            button#delete Delete message
